<%- include('./includes/head.ejs') %>
  <body>
<%- include('./includes/navigation.ejs') %>

    <main class="main-container">
      <form action="/projects" method="POST" class="form-container">
        <h2>Create a Project</h2>
        <input type="text" name="title" placeholder="Title" />
        <input type="text" name="contact" placeholder="Contact" />
        <input type="text" name="assigned" placeholder="Assigned to" />
        <input type="text" name="priority" placeholder="Priority" />
        <input type="text" name="duedate" placeholder="Due Date" />

        <button type="submit" class="submit">Create Project</button>
      </form>

      <div class="card-container">
        <% if (projectsArray.length > 0) { %>
          <% for (let item of projectsArray) { %>
            <div class="card">
              <img src="task.png" alt="contact icon" />
              <section>
                <p class="card-text-primary"><%= item.title %></p>
                <p class="card-text-secondary"><%= item.priority %></p>
                <p class="card-text-secondary"><%= item.duedate %></p>
              </section>
            </div>
          <% } %>
        <% } else { %>
          <h2 style="color:white;">It's empty here...</h2>
        <% } %>
      </div>
    </main>
<%- include('./includes/end.ejs') %>
